.mainpage {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 240, 240);
}

.comBox {
    width: 850px;
    height: 190px;
    background-color: white;
    display: block;
    border-radius: 12px;
    transition: 0.4s;
}

.text {
    height: 30px;
    margin: 10px 20px;
    font-size: 17px;
    color: black;
    margin-top: 23px;
}

.comment {
    width: 70%;
    height: 26px;
    margin: 10px;
    font-size: 23px;
    color: black;
    margin-top: 23px;
}

.comBox:hover {
    -webkit-box-shadow: 16px 10px 30px 12px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 16px 10px 30px 12px rgba(34, 60, 80, 0.2);
    box-shadow: 16px 10px 30px 12px rgba(34, 60, 80, 0.2);
    transition: 0.4s;
    cursor: pointer;
}